<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
  <property name="hibernate.connection.password">123456</property>
  <property name="hibernate.connection.url">jdbc:oracle:thin:@127.0.0.1:1521:xe</property>
  <property name="hibernate.connection.username">MEBITECH</property>
  <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
  <property name="hibernate.connection.pool_size">5</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.format_sql">true</property>
  <property name="hibernate.current_session_context_class">thread</property>
  <property name="hibernate.hbm2ddl.auto">validate</property>
  <property name="hibernate.default_schema">MEBITECH</property>
  <mapping class="com.data.entities.Adres"/>
  <mapping class="com.data.entities.Departman"/>
  <mapping class="com.data.entities.IsDeneyimi"/>
  <mapping class="com.data.entities.Kisi"/>
  <mapping class="com.data.entities.KritikHastalik"/>
 </session-factory>
</hibernate-configuration>
